#Fichier .htaccess : /AlaskaBillet/

Options +FollowSymlinks

RewriteEngine on
RewriteOptions Inherit

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^(.*)/(.*)/([0-9]*)$ index.php?url=$1/$2&id=$3 [QSA,L]
RewriteRule ^(.*/[a-zA-Z]+)$ index.php?url=$1 [QSA,L]
RewriteRule ^$ index.php [QSA,L]
