@font-face {
  src: url(MoonFlowerBold.ttf) format("truetype");
  src: url(MoonFlower.ttf) format("truetype");
  font-family: "Moon Flower";
}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1em;
}

/* Menu */

li a:hover {
  background-color: #111;
}

body {
  background-color: #e1eaff;
  /* background-image: url("fondBilletAlaskaCloud.png"); */
  background-size: cover;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1 {
  text-align: center;
  font-family: "Moon Flower";
  font-size: 5em;
  color: #6e1f8f
}

p {
  text-align: center;
}

footer {
  text-align: right;
}

/*Table Admin*/

table {
  background-color: white;
  margin-right: 5%;
  margin-left: 5%;
}

td {
  height: 50px;
  vertical-align: top;
}

th {
  background-color: #333;
  color: white;
}

th,
td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #f5f5f5;
}

* {
  box-sizing: border-box;
}

input[type="text"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-size: 1em;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-size: 2em;
  width: 100%;
  text-align: left;
}

article {
  margin-top: 35px;
  margin-bottom: 35px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.2em;
  text-align: justify;
}


/* CLASSES */


/* ACCUEIL */



#container {
  height: 400px;
  width: 100%;
  position: relative;
}
#image {
  position: absolute;
  left: 0;
  top: 0;
  height: 179%;
}
#text {
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 24px;
  font-weight: bold;
  left: 150px;
  top: 350px;
}


.boxAnimation {
  padding-left: 25%;
  font-size: 6em;
  font-weight: 800;
  font-family: "Moon Flower";
  padding-top: 17%;
  color: white;
  text-shadow: 2px 2.5px 4px black;
  opacity: 3;
}

.animationTexte {
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
}

.animationTexte:first-of-type {
  animation: showup 7s infinite;
}

.animationTexte:last-of-type {
  width:0px;
  animation: reveal 7s infinite;
}

.animationTexte:last-of-type span {
  margin-left:0px;
  animation: slidein 7s infinite;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-100px; }
    20% { margin-left:-100px; }
    35% { margin-left:100px; }
    100% { margin-left:100px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:120px;}
    80% {opacity:1;width: 300px}
    100% {opacity:0;width:300px;}
}


/* VIEW ARTICLE */

.rightcolumn {
  float: left;
  width: 15%;
  background-color: white;
  margin-top: 1.7%;
}

.leftcolumn {
  float: left;
  width: 75%;
  margin-right: 4%;
}

.titreArticle {
  position: absolute;
  margin-top: 4%;
  z-index: 1;
  text-align: center;
  width: auto;
  font-size: 1.1em;
  margin-left: 27%;
}

.article {
  width: 85%;
  margin-left: 14%;
  text-align: justify;
  padding: 0px;
  margin-bottom: 35px;
  background-color: white;
  border-radius: 7px;
  z-index: 1;
  padding-top: 0;
  margin-top: 2.5%;
}

.article h2 {
  margin-bottom: 10px;
  font-size: 1.9em;
  margin-left: 1px;
  margin-top: -36px;
  z-index: 3;
}

.bordure {
  border-top: 2px solid black;
  width: 8%;
  background-color: #e1eaff;
  height: 45px;
  margin-top: -28px;
  z-index: -1;
}

.date {
  padding-bottom: 2%;
}

.comment textarea {
  width: 100%;
  height: 115px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.comment input[type="text"] {
  width: 35%;
}

.comment form {
  margin-bottom: 2%;
}
.authorDate {
  width: 88%;
}

.boxAuthor {
  width: 20%;
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 1.2em;
}

.boxDate {
  width: 80%;
  padding-top: 3px;
  font-size: 0.8em;
}

.boxMsg {
  height: auto;
  padding-bottom: 4%;
  width: 98%;
  font-style: initial;
  font-size: 1em;
}



.addComm{
  -moz-box-shadow:inset 0px 1px 0px 0px #9acc85;
	-webkit-box-shadow:inset 0px 1px 0px 0px #9acc85;
	box-shadow:inset 0px 1px 0px 0px #9acc85;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5bab61), color-stop(1, #4ba364));
	background:-moz-linear-gradient(top, #5bab61 5%, #4ba364 100%);
	background:-webkit-linear-gradient(top, #5bab61 5%, #4ba364 100%);
	background:-o-linear-gradient(top, #5bab61 5%, #4ba364 100%);
	background:-ms-linear-gradient(top, #5bab61 5%, #4ba364 100%);
	background:linear-gradient(to bottom, #5bab61 5%, #4ba364 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bab61', endColorstr='#4ba364',GradientType=0);
	background-color:#5bab61;
  border:none;
  border-radius: 5%;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:1em;
	font-weight:600;
	padding:6px 12px;
  text-decoration:none;
  font-variant: all-small-caps;
}

.addComm:hover{
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #4ba364), color-stop(1, #5bab61));
	background:-moz-linear-gradient(top, #4ba364 5%, #5bab61 100%);
	background:-webkit-linear-gradient(top, #4ba364 5%, #5bab61 100%);
	background:-o-linear-gradient(top, #4ba364 5%, #5bab61 100%);
	background:-ms-linear-gradient(top, #4ba364 5%, #5bab61 100%);
	background:linear-gradient(to bottom, #4ba364 5%, #5bab61 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4ba364', endColorstr='#5bab61',GradientType=0);
	background-color:#4ba364;
}

.comments {
  background-color: #cdcdcd1f;
  display: flex;
  flex-wrap: wrap;
  padding-left: 4%;
  padding-top: 1%;
  margin-bottom: 1%;
  padding: 6px;
}

.signalCom {
  margin-top: 12%;
  margin-bottom: 18%;
  /* padding: 4px; */
  margin-left: 10%;
  -moz-box-shadow: inset 0px 1px 0px 0px #f7c5c0;
  -webkit-box-shadow: inset 0px 1px 0px 0px #f7c5c0;
  box-shadow: inset 0px 1px 0px 0px #f7c5c0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fc8d83), color-stop(1, #e4685d));
  background: -moz-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
  background: -webkit-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
  background: -o-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
  background: -ms-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
  background: linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc8d83', endColorstr='#e4685d',GradientType=0);
  background-color: #fc8d83;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  /* font-size: 15px; */
  font-weight: bold;
  padding: 5px 7px 5px 5px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #b23e35;
  margin-left: 0;
  font-variant: all-small-caps;
}

.showSignal {
  display: flex;
  font-size: 1.2em;
}

.signaler {
  width: 20px;
}

.nmSignal {
  width: 51%;
  height: 44px;
  margin-right: 7%;
}

.imgSignal {
  width: 50%;
  margin-top: 16%;
  margin-right: 7%;
}


/* VIEW COMMENT */

.title {
  width: 10%;
  text-align: center;
  vertical-align: middle;
}

.deleteBtn {
  -moz-box-shadow: inset 0px 1px 0px 0px #f7c5c0;
  -webkit-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
  box-shadow:inset 0px 1px 0px 0px #f7c5c0;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fc8d83), color-stop(1, #e4685d));
  background:-moz-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
  background:-webkit-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
  background:-o-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
  background:-ms-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
  background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc8d83', endColorstr='#e4685d',GradientType=0);
  background-color:#fc8d83;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border: none;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:15px;
  font-weight:bold;
  padding: 8px 9px;
  text-decoration:none;
  text-shadow:0px 1px 0px #b23e35;
  font-variant: all-small-caps;
}

.deleteBtn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e4685d), color-stop(1, #fc8d83));
	background:-moz-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
	background:-webkit-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
	background:-o-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
	background:-ms-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
	background:linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4685d', endColorstr='#fc8d83',GradientType=0);
	background-color:#e4685d;
}

/*******************
 MODAL 
 ******************/

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.deleteMsg {
  font-size: 1.3em;
  padding-left: 2%;
}

.deleteBouton {
  -moz-box-shadow: inset 0px 1px 0px 0px #f7c5c0;
  -webkit-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
  box-shadow:inset 0px 1px 0px 0px #f7c5c0;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fc8d83), color-stop(1, #e4685d));
  background:-moz-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
  background:-webkit-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
  background:-o-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
  background:-ms-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
  background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc8d83', endColorstr='#e4685d',GradientType=0);
  background-color:#fc8d83;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border: none;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-weight:bold;
  padding: 8px 9px;
  text-decoration:none;
  text-shadow:0px 1px 0px #b23e35;
  font-variant: all-small-caps;
  margin-left: 47%;
  font-size: 1.1em;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* VIEW ADMIN */

.formLogin {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.inputUser, .inputPass {
  margin-bottom: 1%;
}

#user_name, #user_pass {
  border: 1px solid whitesmoke;
  width: 15%;
  padding: 1%;
  text-align: center;
}

.loginBtn{
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #becafa), color-stop(1, #7fa6e8));
	background:-moz-linear-gradient(top, #becafa 5%, #7fa6e8 100%);
	background:-webkit-linear-gradient(top, #becafa 5%, #7fa6e8 100%);
	background:-o-linear-gradient(top, #becafa 5%, #7fa6e8 100%);
	background:-ms-linear-gradient(top, #becafa 5%, #7fa6e8 100%);
	background:linear-gradient(to bottom, #becafa 5%, #7fa6e8 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#becafa', endColorstr='#7fa6e8',GradientType=0);
	background-color:#becafa;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:none;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
  padding: 1% 4%;
	text-decoration:none;
	text-shadow:0px 1px 0px #5e54cc;
}

.loginBtn:hover{
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7fa6e8), color-stop(1, #becafa));
	background:-moz-linear-gradient(top, #7fa6e8 5%, #becafa 100%);
	background:-webkit-linear-gradient(top, #7fa6e8 5%, #becafa 100%);
	background:-o-linear-gradient(top, #7fa6e8 5%, #becafa 100%);
	background:-ms-linear-gradient(top, #7fa6e8 5%, #becafa 100%);
	background:linear-gradient(to bottom, #7fa6e8 5%, #becafa 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7fa6e8', endColorstr='#becafa',GradientType=0);
  background-color:#7fa6e8;
}

/* VIEW ADMINOK */

.addArticle {
  margin-bottom: 1%;
  margin-top: 1%;
}

.addButton1 {
  -moz-box-shadow: inset 0px 1px 0px 0px #befac5;
  -webkit-box-shadow: inset 0px 1px 0px 0px #befac5;
  box-shadow: inset 0px 1px 0px 0px #befac5;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #62e356), color-stop(1, #6ccc54));
  background: -moz-linear-gradient(top, #62e356 5%, #6ccc54 100%);
  background: -webkit-linear-gradient(top, #62e356 5%, #6ccc54 100%);
  background: -o-linear-gradient(top, #62e356 5%, #6ccc54 100%);
  background: -ms-linear-gradient(top, #62e356 5%, #6ccc54 100%);
  background: linear-gradient(to bottom, #62e356 5%, #6ccc54 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62e356', endColorstr='#6ccc54',GradientType=0);
  background-color: aliceblue;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  padding: 12px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #47ad95;
  margin-left: 5%;
}


.addButton1 a {
  color: white;
  font-weight: 600;
  font-size: 1.1em;
  font-variant: all-small-caps;
}

.addButton1:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6ccc54), color-stop(1, #62e356));
	background:-moz-linear-gradient(top, #6ccc54 5%, #62e356 100%);
	background:-webkit-linear-gradient(top, #6ccc54 5%, #62e356 100%);
	background:-o-linear-gradient(top, #6ccc54 5%, #62e356 100%);
	background:-ms-linear-gradient(top, #6ccc54 5%, #62e356 100%);
	background:linear-gradient(to bottom, #6ccc54 5%, #62e356 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6ccc54', endColorstr='#62e356',GradientType=0);
	background-color:#6ccc54;
}

.commButton {
  -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
  box-shadow: inset 0px 1px 0px 0px #e1e1e1;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
  background: -moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
  background: -webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
  background: -o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
  background: -ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
  background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
  background-color: #ededed;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: #777777;
  font-size: 15px;
  font-weight: bold;
  padding: 12px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}

.commButton:hover{
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
	background-color:#dfdfdf;
}

.commButton a {
    text-decoration: none;
    color: #454545;
    font-variant: all-small-caps;
}

.manageArticle img {
  width: 200px;
}

.editBtn {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bddbfa), color-stop(1, #80b5ea));
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  padding: 8px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528ecc;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  margin-bottom: 5px;
}

.editBtn:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #bddbfa));
  background-color: #80b5ea;
}

.editBtn a {
  color: white;
  font-variant: all-small-caps;
}

/* CONTAINER FORM ADD/EDIT */

.containerForm {
  border-radius: 5px;
  background-color: #f6f5f5d1;
  padding: 19px;
  width: 79%;
  margin-left: 10%;
}

.containerForm h4 {
  text-align: center;
  font-size: 4em;
  font-family: "Moon Flower";
  margin: 31px;
}

.containerForm label {
  font-family: "Moon Flower";
  font-weight: 600;
  font-size: 3em;
}

/* VIEW ADD */

.addButton2 {
  -moz-box-shadow: inset 0px 1px 0px 0px #befac5;
  -webkit-box-shadow: inset 0px 1px 0px 0px #befac5;
  box-shadow: inset 0px 1px 0px 0px #befac5;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #62e356), color-stop(1, #6ccc54));
  background: -moz-linear-gradient(top, #62e356 5%, #6ccc54 100%);
  background: -webkit-linear-gradient(top, #62e356 5%, #6ccc54 100%);
  background: -o-linear-gradient(top, #62e356 5%, #6ccc54 100%);
  background: -ms-linear-gradient(top, #62e356 5%, #6ccc54 100%);
  background: linear-gradient(to bottom, #62e356 5%, #6ccc54 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62e356', endColorstr='#6ccc54',GradientType=0);
  background-color: aliceblue;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  padding: 12px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #47ad95;
  margin-bottom: 5px;
  margin-left: 40%;
  margin-top: 5%;
  font-size: 1.3em;
  width: 20%;
  font-variant: all-small-caps;
}

.addButton2:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6ccc54), color-stop(1, #62e356));
	background:-moz-linear-gradient(top, #6ccc54 5%, #62e356 100%);
	background:-webkit-linear-gradient(top, #6ccc54 5%, #62e356 100%);
	background:-o-linear-gradient(top, #6ccc54 5%, #62e356 100%);
	background:-ms-linear-gradient(top, #6ccc54 5%, #62e356 100%);
	background:linear-gradient(to bottom, #6ccc54 5%, #62e356 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6ccc54', endColorstr='#62e356',GradientType=0);
  background-color:#6ccc54;
}

/* VIEW EDIT */

.modifyBtn {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bddbfa), color-stop(1, #80b5ea));
  color: #ffffff;
  font-weight: bold;
  padding: 8px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528ecc;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  margin-bottom: 5px;
  width: 20%;
  color: white;
  margin-left: 40%;
  margin-top: 5%;
  font-size: 1.3em;
  font-variant: all-small-caps;
}

.modifyBtn:hover{
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #bddbfa));
  background-color: #80b5ea;
}

/* VIEW ERROR */

.errorMessage {
  text-align: center;
  background: white;
  width: 60%;
  margin-left: 20%;
  padding: 5%;
  border: 5px solid #cdcdcd1f;
  border-radius: 10px;
  font-weight: 400;
  font-size: 1.3em;
}

/* VIEW ALERT */

.alert {
  padding: 10px;
  margin: auto;
}

.alert.success {
  background-color: #4caf50a1;
  border: 1px solid #4caf50a1;
  width: 50%;
  border-radius: 4px;
  padding-bottom: 2%;
  margin-bottom: 3%;
  margin-top: 3%;
}

.alert.error {
  background-color: red;
}

.alertMsg {
  font-size: 1.2em;
}

.closeAlert {
  cursor: pointer;
}

.logout {
  float: right;
  padding: 11px 0px;
  cursor: pointer;
  font-size: 1.2em;
}

.logout img {
  /* display: block; */
  padding: 0px 15px;
  width: 25%;
  padding: 0px 17px;
  margin: auto;
}

.logout a {
  color: white;
}

/* Alert */