@font-face {
  src: url(MoonFlowerBold.ttf) format("truetype");
  src: url(MoonFlower.ttf) format("truetype");
  font-family: "Moon Flower";
}

img {
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Menu */

li a:hover {
  background-color: #111;
}

body {
  background-color: #e1eaff;
  background-image: url("fondBilletAlaskaCloud.png");
  background-size: cover;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1 {
  text-align: center;
  font-family: "Moon Flower";
  font-size: 5em;
}

p {
  text-align: center;
}

footer {
  text-align: right;
}

/*Table Admin*/

table {
  background-color: white;
  margin-right: 5%;
  margin-left: 5%;
}

td {
  height: 50px;
  vertical-align: top;
}

th {
  background-color: #333;
  color: white;
}

th,
td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #f5f5f5;
}

* {
  box-sizing: border-box;
}

input[type="text"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-size: 1em;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-size: 2em;
  width: 100%;
  text-align: left;
}

article {
  margin-top: 35px;
  margin-bottom: 35px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.2em;
  text-align: justify;
}

/* CLASSES */

/* VIEW ARTICLE */

.article {
  width: 60%;
  margin-left: 20%;
  border: 3px solid #fbfbfb;
  text-align: justify;
  padding: 15px;
  margin-bottom: 35px;
  background-color: white;
  border-radius: 7px;
  margin-top: 45px;
  z-index: 1;
  padding-top: 38px;
}

.article h2 {
  margin-bottom: 10px;
  font-size: 1.9em;
  margin-left: 1px;
  margin-top: -36px;
  z-index: 3;
}

.bordure {
  border-top: 2px solid black;
  width: 8%;
  background-color: #e1eaff;
  height: 45px;
  margin-top: -28px;
  z-index: -1;
}

.comment textarea {
  width: 100%;
  height: 115px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.comment input[type="text"] {
  width: 35%;
}

.comment form {
  margin-bottom: 2%;
}

.comments {
  background-color: #cdcdcd1f;
  display: flex;
  flex-wrap: wrap;
}

.boxAuthor {
  width: 20%;
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 1.2em;
}

.boxDate {
  width: 80%;
  padding-top: 5px;
}

.boxMsg {
  height: auto;
  padding-bottom: 25px;
}

.signaler {
  width: 20px;
}

/* VIEW COMMENT */

.title {
  width: 10%;
  text-align: center;
  vertical-align: middle;
}

.deleteBtn {
  width: 100%;
  background-color: #ff6767;
  padding: 8px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  color: white;
}

/*******************
 MODAL 
 ******************/

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.deleteMsg {
  font-size: 1.3em;
  padding-left: 2%;
}

.deleteBouton {
  background-color: #ff6767;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  margin-left: 47%;
  font-size: 1.1em;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* VIEW ADMINOK */

.addButton1 {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 6px;
  font-size: 1.2em;
  margin-left: 1%;
}

.addButton1 a {
  color: white;
  font-weight: 500;
}

.addButton1:hover {
  background-color: #45a049;
}

.manageArticle img {
  width: 200px;
}

.editBtn {
  width: 100%;
  background-color: #5a85ff;
  padding: 8px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  margin-bottom: 5px;
}

.editBtn a {
  color: white;
}

/* CONTAINER FORM ADD/EDIT */

.containerForm {
  border-radius: 5px;
  background-color: #f6f5f5d1;
  padding: 19px;
  width: 79%;
  margin-left: 10%;
}

.containerForm h4 {
  text-align: center;
  font-size: 4em;
  font-family: "Moon Flower";
  margin: 31px;
}

.containerForm label {
  font-family: "Moon Flower";
  font-weight: 600;
  font-size: 3em;
}

/* VIEW ADD */

.addButton2 {
  background-color: #4caf50;
  cursor: pointer;
  padding: 8px;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  margin-bottom: 5px;
  color: white;
  margin-left: 40%;
  margin-top: 5%;
  font-size: 1.3em;
  width: 20%;
}

.addButton2:hover {
  background-color: #45a049;
}

/* VIEW EDIT */

.modifyBtn {
  width: 20%;
  background-color: #5a85ff;
  padding: 8px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  margin-bottom: 5px;
  color: white;
  margin-left: 40%;
  margin-top: 5%;
  font-size: 1.3em;
}

/* VIEW ERROR */

.errorMessage {
  text-align: center;
  background: white;
  width: 60%;
  margin-left: 20%;
  padding: 5%;
  border: 5px solid #cdcdcd1f;
  border-radius: 10px;
  font-weight: 400;
  font-size: 1.3em;
}

/* VIEW ALERT */

.alert {
  padding: 10px;
  margin: auto;
}

.alert.success {
  background-color: #4caf50;
  border: 1px solid #4caf50;
  width: 50%;
  border-radius: 4px;
}

.alert.error {
  background-color: red;
}

.closeAlert {}

.logout {
  float: right;
  padding: 11px 0px;
  cursor: pointer;
  font-size: 1.2em;
}

.logout img {
  /* display: block; */
  padding: 0px 15px;
  width: 25%;
  padding: 0px 17px;
  margin: auto;
}

.logout a {
  color: white;
}

/* Alert */